body {
  background-color: lightgray;
}

ul {
  padding-left: 0%;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 2%;
  margin: 1%;
  background-color: lightgray;
}

li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;

}

li a:hover {
  border-bottom: 2px solid white;
}

.navigation {
width: 90%;
}

.main {
  width: 90%;
  margin: auto;
}